<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <title>Optican</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>

</head>

<body>
    <h1>Optican</h1>
    <nav>
        <div>
            <li><a href='/api/products'>Products</a></li>
            <li><a href='/api/products/create'>Create</a></li>
        </div>
    </nav>

    <div>
        <h2>All products</h2>
        /* <%  if(products.length >0){ %>*/

        <% } %>
    </div>

</body>

</html>